# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Herramientas
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Entorno local
.env
*.local.yml

# Datos de prueba generados
tests/_discos_generados/
